.App {
  position: relative;
  scroll-behavior: smooth;
}

.scrollTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #494949; /* Màu nền của nút */
  color: #fff; /* Màu chữ của nút */
  border: none;
  border-radius: 50%; /* Đảm bảo nút là hình tròn */
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  z-index: 1000; /* Đảm bảo nút hiển thị trên tất cả các phần tử khác */
  transition: opacity 0.3s ease-in-out; /* Hiệu ứng xuất hiện mượt mà */
}

.scrollTop:hover {
  opacity: 0.8; /* Giảm độ mờ khi rê chuột qua nút */
}
