.row-popular-tv-shows {
  display: flex;
  overflow-x: auto;
  margin-bottom: 20px; /* Tạo khoảng cách dưới để tránh bị che phủ */
}

.row-popular-tv-shows::-webkit-scrollbar {
  height: 8px; /* Chiều cao của thanh trượt */
}

.row-popular-tv-shows::-webkit-scrollbar-thumb {
  background: #888; /* Màu nền của thanh trượt */
  border-radius: 10px; /* Bo tròn các góc của thanh trượt */
}
